h4 {
    font-family: "Style Script", cursive;
    text-align: center;
    font-size: 3rem;
  }
  h5 {
    font-family: "Secular One", sans-serif;
  }
  .dropdown-item:hover {
    background-color: #198754;
    color: white;
    font-family: "Nunito", sans-serif;
  }
  p {
    font-family: "Nunito", sans-serif;
  }
  #foot {
    color: white;
    padding: 7px;
    border-radius: 5px;
  }
  #foot:hover {
    background-color: white;
    color: black;
    box-shadow: 0px 8px 10px 0px black;
    text-decoration: none;
  }
  .nav-item {
    margin-right: 25px;
  }
  #nav {
    color: white;
    text-decoration: none;
    padding: 4px;
    border-radius: 4px;
  }
  #nav:hover {
    background-color: white;
    color: black;
    box-shadow: 0px 8px 16px 0px black;
  }
  .lokasi {
    padding: 5px;
    color: white;
  }
  .lokasi:hover {
    background-color: white;
    color: black;
    box-shadow: 0px 8px 16px 0px black;
    border-radius: 10px;
    text-decoration: none;
  }
  .ujian {
    background-color: #ddd;
    padding: 50px;
  }
  label {
    color: white;
    text-shadow: 2px 2px black;
    font-weight: bold;
  }
  .ujian a {
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    background-color: #198754;
    padding: 6px 13px;
    margin-bottom: 100px;
    border-radius: 5px;
    font-family: "Secular One", sans-serif;
  }
  .ujian a:hover {
    background-color: #fff;
    color: #198754;
    box-shadow: 0px 8px 10px 0px black;
  }