* {
margin: 0;
padding: 0;
}

body {
font-family: "Roboto", Arial, Helvetica, sans-serif;
font-size: 18px;
background-color: rgb(4, 78, 4);
padding: 40px;
}

img {
width: 100%;
}

header {
display: grid;
grid-template-columns: 1fr 1fr 1fr ;
grid-template-areas: 
'depan depan komputer'
'depan depan perpus';
gap: 20px;


}


.depan {
grid-area: depan;
}


.komputer {
grid-area: komputer;
}

.perpus {
grid-area: perpus;
}

.perpus img,
.komputer img,
.depan img {
border-radius: 10px;
box-shadow: 0 0 2px black;
}

#profil,
#fitur,
#vision {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
gap: 20px;
margin-top: 20px;
}

.profil, .fitur, .vision {
background-color: #aaa;
padding: 15px;
border-radius: 7px;
text-align: center;
}

.profil h3, .vision h3 {
margin-bottom: 10px;
letter-spacing: 0.5px;
font-weight: bold;
font-size: 1.2em;
}

.profil button {
margin: 10px;
font-size: 0.8em;
padding: 7px;
border-radius: 7px;
}

#vision {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
gap: 20px;
margin-top: 20px;
}

.vision p {
text-align: center;
}

.vision ul {
    padding: 20px;
}

#vision li {
padding: 5px;
text-align: left;

}

#img {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 20px;
margin-top: 20px;
}

/* img */
#img img {
border-radius: 7px;
max-width: 415px;
}

/* fitur */

.fitur h3, .fitur p{
    text-align: center;
}

.fitur h3 {
    margin-bottom: 10px;
}

.fitur a {
    background-color: green;
    color: white;
    text-decoration: none;
    padding: 6px 9px;
    border-radius: 5px;
}

@media (max-width: 800px) {
body {
padding: 15px;
}

header {
grid-template-areas: 
'depan depan depan'
'komputer komputer komputer'
'perpus perpus perpus';
}

}
